body {
  background-color: ee9b00;
  color: 005f73;
  font-family: 'Courier New', Courier, monospace;
  font-size:larger;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #005f73;
}

img {
  border: 2px solid black;
  border-radius: 8px;
}