<html>
  <head><link rel="stylesheet" href="/static/styles.css">
    <title>Daphna's Book Store </title>
  </head>
  <body>
    <h1>📚 Daphna's Book Store 📚</h1>
    <span>
      <h2>Books</h2>
      
    <ul>
      {% for book in books%}
      <li>{{book.title}} by {{book.author}} released in {{book.release_date}}</li>
      {%endfor%}
    </ul>
    </span>
    <h2>Add Books:</h2>
    <form method="POST" action="/books">
      <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="release_date" placeholder="Release date">
    <input type="submit" value="Submit">
    </form>
  </body>
</html>